p.title {
  text-align: center;
  font-family: $stfont;
  background-color: $gray2;
  width: 70%;
  border-radius: $radius;
  padding: 10px;
  font-weight: bold;
  font-size: $stfsize;
}
* {
  color: white
}
div.option_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray1;
  height: 100%;
  width: 100%;
  color: white;
  font-family: $rfont;
}
div.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $gray2;
  border: $lightblue solid 1px;
  color: white;
  font-family: $rfont;
}
.blurred {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}
div.dialog_parent {
  z-index: 1000;
  position: relative;
  overflow: hidden;
}