p.title {
  text-align: center;
  font-family: $stfont;
  background-color: $gray2;
  width: 70%;
  border-radius: $radius;
  padding: 10px;
  font-weight: bold;
  font-size: $stfsize;
}
* {
  color: white
}
div.option_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray1;
  height: 100%;
  width: 100%;
  color: white;
  font-family: $rfont;
  justify-content: center;
}
p.empty {
  text-align: center;
  font-family: $rfont;
  font-style: italic;
}
.blurred {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}
div.dialog_parent {
  z-index: 1000;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
ul.data_list {
  background-color: $gray3;
  border-radius: $radius;
  padding: 10px;
  width: 80%;
  padding-left: 0px;
  height: 25%;
  overflow-y: scroll;
  li {
    list-style-type: none;
    padding-left: 10px;
    font-family: $rfont;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    font-size: $rfsize+2;
    span {
      background-color: $gray5;
      border-radius: 5px;
      font-family: $rfont;
      border: $gray3 solid 1px;
      font-style: italic;
      text-align: center;
      font-size: $rfsize+2
    }
  }
}
img.delete {
  height: 20px;
  margin-top: 3px;
}
div.button_form_container {
  display: flex;
  flex-direction: row;
  border: $gray3 solid 1px;
  background-color: $gray3;
  border-radius: $radius;
  &:hover {
    border: $blue solid 1px;
  }
  select, input {
    border-radius: $radius 0 0 $radius;
    border: $gray5 solid 1px;
    font-size: $rfsize;
  }
  button {
    border-radius: 0 $radius $radius 0;
    background-color: $gray3;
    border: transparent solid 1px;
    &:active {
      background-color: $gray2;
    }
  }
}
div.input_form_container {
  display: flex;
  flex-direction: row;
  border: 1px solid $gray3;
  background-color: $gray3;
  border-radius: $radius;
  overflow: hidden;
  &:hover {
    border: $blue solid 1px;
  }
  label { // truc à gauche
    border-radius: $radius 0 0 $radius;
    background-color: $gray3;
    height: 100%;
    flex: 1;
    text-align: center;
    font-size: $rfsize;
  }
  select, input { // truc à droite
    min-width: 1%;
    border-radius: 0 $radius $radius 0;
    border: $gray5 solid 1px;
    flex: 1;
    background-color: $gray5;
    height: 100%;
    box-sizing: border-box;
    font-size: $rfsize;
  }
  input:focus {
    outline: none;
    border: $blue solid 1px;
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: $gray2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-radius: $radius;
  & .input_form_container {
    margin-bottom: 5px;
    width: 55%;
  }
  button {
    width: 70%;
  }
}
ul.dashboard {
  overflow-x: scroll;
  span {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    flex-grow: 0;
    min-width: fit-content;
    label {
      padding: 3px 5px 3px 5px;
      margin: 5px;
      flex:1;
      text-align: center;
      max-width: 240px;
      min-width: 240px;
      background-color: $gray7;
      border-radius: $radius;
      text-overflow: ellipsis;
    }
    label.first_row {
      background-color: $gray6;
      font-weight: normal;
      font-size: $stfsize;
      font-style: normal;
      text-decoration: underline;
    }
  }
}