div.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
$gray1:#18181a;
$gray2:#232326;
$gray3:#2f2f33;
$gray4:#3b3b40;
$gray5:#47474d;
$gray6:#525259;
$gray7:#5e5e66;
$gray8:#6a6a73;
$gray9:#767680;
$gray10:#81818c;
$gray11:#8d8d99;
$gray12:#9999a6;
$blue:#3584e4

@font-face{
    font-family: 'icomoon';

}