@use "sass:color";

$gray1:#18181a;
$gray2:#232326;
$gray3:#2f2f33;
$gray4:#3b3b40;
$gray5:#47474d;
$gray6:#525259;
$gray7:#5e5e66;
$gray8:#6a6a73;
$gray9:#767680;
$gray10:#81818c;
$gray11:#8d8d99;
$gray12:#9999a6;

$blue:#3584e4;
$lightblue:color.adjust($blue, $lightness:+10%);
$darkblue:color.adjust($blue, $lightness:-10%);

$red: #b31010;
$lightred:color.adjust($red, $lightness:+10%);
$darkred:color.adjust($red, $lightness:-10%);

$radius:5px; // standard border_radius

$rfsize:19px; // standard regular text font size
$stfsize:22px; // subtitle font size
$tfsize:26px; // title font size

$rfont:"Adwaita Sans"; // regular text font family
$tfont:"Adwaita Sans"; // title font family
$stfont:"Adwaita Sans"; // subtitle font family
$partborder: $gray8;

@font-face {
    font-family: 'Adwaita Sans';
    src: url('/fonts/AdwaitaSans-Regular.ttf');
    font-display: swap;
}
div.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button, select {
    background-color: $gray5;
    border-radius: $radius;
    border: 1px solid $gray3;
    font-size: $rfsize;
}
button:hover, select:hover {
    border: 1px solid $blue;
    background-color: $gray6;
}
button:active, select:active {
    background-color: $gray4;
}
button.blue {
    background-color: $blue;
    border: transparent solid 1px;
    &:hover {
        background-color: $lightblue;
        border: $blue solid 1px;
    }
    &:active {
        background-color: $darkblue;
    }
}
button.red {
    background-color: $red;
    border: transparent solid 1px;
    &:hover {
        background-color: $lightred;
        border: $red solid 1px;
    }
    &:active {
        background-color: $darkred;
    }
}