p.title {
  text-align: center;
  font-family: var(--stfont);
  background-color: var(--gray2);
  width: 70%;
  border-radius: var(--radius);
  padding: 10px;
  font-weight: bold;
  font-size: var(--stfsize);
  margin-bottom: 20px;
}

* {
  color: white;
}

div.option-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray1);
  height: 100%;
  width: 100%;
  color: white;
  font-family: var(--rfont);
  justify-content: center;
}

p.empty {
  text-align: center;
  font-family: var(--rfont);
  font-style: italic;
}

.blurred {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
}

div.dialog-parent {
  z-index: 1000;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

ul.data-list {
  background-color: var(--gray3);
  border-radius: var(--radius);
  padding: 10px;
  width: 80%;
  padding-left: 0px;
  height: 25%;
  overflow-y: scroll; 
  & li {
    list-style-type: none;
    padding-left: 10px;
    font-family: var(--rfont);
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--rfsize) + 2px);
    min-height: 35px;
    height: fit-content;
    transition: all linear 0.5s;
    & span {
      background-color: var(--gray5);
      border-radius: var(--radius);
      font-family: var(--rfont);
      border: var(--gray3) solid 1px;
      font-style: italic;
      text-align: center;
      flex-grow: 1;
    }
    & button.delete, & button.edit {
      flex: 0 0 auto;
      align-self: stretch;
      min-height: 35px;
      aspect-ratio: 1 / 1;
      stroke-width: 1;
      & * {
        width: 90%;
        height: 90%;
      }
    }
    & button.delete * {
      color: var(--red);
    }
  }
}

div.input-form-container {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--gray3);
  background-color: var(--gray3);
  border-radius: var(--radius);
  overflow: hidden;
  &:hover {
    border: var(--blue) solid 1px;
  }
  & label {
    border-radius: var(--radius) 0 0 var(--radius);
    background-color: var(--gray3);
    height: 100%;
    flex: 1;
    text-align: center;
    font-size: var(--rfsize);
  }
  & select, & input, & span {
    max-width: 50%;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: var(--gray5) solid 1px;
    flex: 1;
    background-color: var(--gray5);
    height: 100%;
    box-sizing: border-box;
    font-size: var(--rfsize);
    margin: 0;
    padding: 0 0 0 2px;
  }
  & input:focus {
    outline: none;
    border: var(--blue) solid 1px;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: var(--gray2);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-radius: var(--radius);
  & .input-form-container, & .button-form-container, & .info-form-container {
    margin-bottom: 5px;
    width: 55%;
  }
  & button {
    width: 70%;
  }
}

ul.dashboard {
  overflow-x: scroll;  
  & span {
    display: flex;
    & label {
      padding: 3px 5px 3px 5px;
      flex: 1;
      text-align: center;
      min-width: 13vw;
      background-color: var(--gray7);
      border-radius: var(--radius);
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 5px;
      display: flex;
	    flex-direction: column; 
	    justify-content: center; 
	    align-items: center;
    }
    &.first-row label {
      background-color: var(--gray6);
      font-weight: normal;
      font-size: var(--stfsize);
      font-style: normal;
      text-decoration: underline;
    }
  }
}
